<html>
  <body>
    <p>
        Welcome to my web server<br>
on host {{ ansible_host }}
{{ ansible_facts.default_ipv4.address }} <br>
All nodes: <br>
{% for host in groups['all'] %}
Host: {{ hostvars[host]['ansible_facts']['hostname'] }}
Virt_type: {{ ansible_facts.virtualization_type }}
Distr: {{ ansible_facts.distribution }}
FQDN: {{ hostvars[host]['ansible_facts']['fqdn'] }}
IP: {{ hostvars[host]['ansible_facts']['default_ipv4']['address']}}<br>
{% endfor %} 

</p>
  </body>
    </html>
